@page "/Messages"
@using MediatR
@using ChickenFarm.FrontEnd.Application
@using Microsoft.Extensions.Logging
@inject IMediator _mediator
@inject ILogger<Messages> _logger

<h1>Messages</h1>

<button class="btn btn-primary" @onclick="SendMessage">Send message</button>

@code {
    protected async Task SendMessage()
    {
        try
        {
             await _mediator.Publish(new SendMessageCommand.Command("Blablabls"));
        }
        catch(Exception ex)
        {
            _logger.LogError(ex, ex.Message);
        }
    }
}